@use "./grid/grid-breakpoints" as *;

$custom-card-text-padding: 24px;
$custom-card-actions-padding: 0.625rem 24px 24px;
$custom-card-item-padding: 20px 24px;
$custom-card-title-font-size: 1.125rem;
$custom-card-title-font-weight: 500;
$custom-card-title-line-height: 1.334;

$custom-time-picker-controls-field-font: 20px;
$custom-time-picker-controls-field-width: 60px;
$custom-time-picker-controls-field-height: 50px;
$custom-time-picker-controls-separator-line-height: 50px;
$custom-time-picker-controls-btn-font: 30px;
$custom-time-picker-controls-ampm-height : 25px;
$custom-time-picker-ampm-title-font-size: 12px;
$custom-time-picker-padding: 16px;

// src/styles/settings.scss
@forward "vuetify/settings" with ($grid-breakpoints: $custom-grid-breakpoints,

    // cards
    $card-text-padding: $custom-card-text-padding,
    $card-actions-padding: $custom-card-actions-padding,
    $card-item-padding: $custom-card-item-padding,
    $card-title-font-size: $custom-card-title-font-size,
    $card-title-font-weight: $custom-card-title-font-weight,
    $card-title-line-height: $custom-card-title-line-height,

    $time-picker-controls-field-font: $custom-time-picker-controls-field-font,
    $time-picker-controls-field-width: $custom-time-picker-controls-field-width,
    $time-picker-controls-field-height: $custom-time-picker-controls-field-height,
    $time-picker-controls-separator-line-height: $custom-time-picker-controls-separator-line-height,
    $time-picker-controls-btn-font: $custom-time-picker-controls-btn-font,
    $time-picker-controls-ampm-height: $custom-time-picker-controls-ampm-height,
    $time-picker-ampm-title-font-size: $custom-time-picker-ampm-title-font-size,
    $time-picker-padding: $custom-time-picker-padding);

// Manually override the `vuetify-core` reset targeting `button` by
// injecting into a higher precedence layer per the Vuetify documentation.
@layer vuetify-core {

    button,
    [type='button'],
    [type='reset'],
    [type='submit'],
    [role='button'] {
        color: initial;
    }
}