.v-switch .v-label,
.v-checkbox .v-label {
  opacity: 1;
}

.todo-list {
  .v-selection-control.v-selection-control--dirty {
    .v-label {
      text-decoration: line-through;
    }
  }
}

.text-truncate {
  .v-selection-control {
    width: calc(100% - 15px);
  }
}

.v-otp-input {
  .v-otp-input__content {
    padding-inline: 0;
  }

  .v-otp-input__divider {
    margin: 0;
  }
}